body{
    height:100%;
    width:100%;
    background-image: url(starnight.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: Arial;

}

h1,h2,h3,h4,p,ul,dd,dt,span,img,input,label,pre{
    color: #ffffff;
}
#header, #pagefooter, #container,#button{
    margin: 0 auto;
    width:85%;
    text-align: center;
}
a {
    color:#3c8dbc;
    text-decoration:none;
    cursor:e-resize;
}

#header{
    height:180px;
    /*border-style: dashed;*/
}

.rounded{
    border-style: dashed;
}
.avatar{

    border-radius: 50%;
    height:90px;
    width:90px;
}
.avatarwrap{
    margin: 0 auto;
    width: 100px;
    padding: 3px;

}


.avatarwrap2{
    padding-top: 55px;
    padding-left: 55px;
    float:left;
}

.list-profile-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

.post{
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;

}

.post2{
    border-bottom: 1px solid #d2d6de;
    height:200px;
    padding-bottom:15px;
}

.post3 {
    padding-bottom:15px;
}

.post .userblock{
    margin-bottom:15px;
}

.margin-r-5{
    mrgin-right:5px;
}

.pull-right{
    float:right;
}

.pull-left a{
    margin-left:2px;
}

#content{
    float:right;
    width:60%;
    padding-right: 40px;
}

#side{
    padding-left: 40px;
    float:left;
    width:30%;


}

#pagefooter{
    clear:both;

}

.contentavatar img{
    border-radius: 50%;
    width:75px;
    height:75px;
}

.sidebox {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
}

#pull-right{
    float:right;
}

.pic img {
    height: 150px;
    /*width: 150px;*/
    margin-left: 10px;
    padding:15px;
    float: left;
    border: none;
}

#header p{
    letter-spacing: -2px;
    font-family: Arial,Helvetica, Sans-Serif;
    font-size:80px;
    line-height:30px;

}
.postbox {
    margin-left:160px;
    margin-top: 30px;
    margin-bottom:30px;
    /*border-bottom-right-radius: 5px;*/
    height:350px;
    padding: 20px;
}

.button {
    text-align:center;
    text-decoration:none;
    display:inline-block;
    border:none;
    font-size:14px;
    color: #000000;
    height:27px;
    width:134px;
    font-variant:small-caps;
}

.button:hover {
    padding:0;
    margin:0;
    border:none;
    font-size:14px;
    color: #FF0000;
    height:27px;
    width:134px;
    text-decoration:none;
    font-variant:small-caps;
}

.button_active {
    padding:0;
    margin:0;
    border:none;
    font-size:14px;
    color: #FF0000;
    height:27px;
    width:134px;
    font-variant:small-caps;
}

