body{
    height:100%;
    width:100%;
    background-image: url(starnight.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: Arial;

}

h1,h2,h3,h4,p,a,ul,dd,dt,span,img,input,label{
    color: #ffffff;
}
#header, #pagefooter, #container{
    margin: 0 auto;
    width:85%;
    text-align: center;

}

#header{
    height:150px;
    border-style: dashed;
}

.rounded{
    border-style: dashed;
}
.avatar{

    border-radius: 50%;
    height:90px;
    width:90px;
}
.avatarwrap{
    margin: 0 auto;
    width: 100px;
    padding: 3px;

}


.avatarwrap2{
    padding-top: 55px;
    padding-left: 55px;
    float:left;
}

.list-profile-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;

    border: 1px solid #ddd;
}


.post{
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;

}

.post2{
    border-bottom: 1px solid #d2d6de;
    height:200px;
    mragin-bottom:15px;
    padding-bottom:15px;
}

.post .userblock{
    margin-bottom:15px;
}

.margin-r-5{
    mrgin-right:5px;
}

.pull-right{
    float:right;
}

#content{
    float:right;
    width:60%;
}

#side{
    padding-left: 40px;
    margin-outside: 60px;
    float:left;
    width:30%;


}

#pagefooter{
    clear:both;

}

.contentavatar img{
    border-radius: 50%;
    width:75px;
    height:75px;
}

.sidebox {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
}

.sidebox{

}